.watch-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  background-color: rgba($color: #ffffff, $alpha: 0.1);
  padding: 30px;
  gap: 15px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .hours,
  .minutes,
  .seconds {
    border-radius: 15px;
    height: 150px;
    width: 200px;
    color: #ffffff;
    background-color: #111;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: center;
    gap: 15px;
    justify-content: flex-end;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    h1 {
      font-size: 50px;
    }
  }
}

@media (max-width: 375px) {
  .watch-container {
    flex-direction: column;
    height: 400px;
    width: 150px;
    height: auto;
    .hours,
    .minutes,
    .seconds {
      width: 100px;
      height: 100px;
      gap: 5px;
      padding-bottom: 5px;
    }
  }
}
